.tile {
  height: 3rem;
  width: 3rem;
  border: 1px solid grey;
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.tile_misplaced {
  background: darkorange;
  color: white;
}

.tile_correct {
  background: green;
  color: white;
}
